* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: 600px;
}

@font-face {
  font-weight: normal;
  font-family: 'MADEGoodTimeScript';
  font-style: normal;
  font-display: swap;

  src: local('MADEGoodTimeScript'), local('MADEGoodTimeScript'), url('./fonts/MADEGoodTimeScript.woff2') format('woff2'),
    url('./fonts/MADEGoodTimeScript.woff') format('woff'), url('./fonts/MADEGoodTimeScript.ttf') format('truetype');
}

@font-face {
  font-weight: normal;
  font-family: 'Airfool';
  font-style: normal;
  font-display: swap;

  src: local('Airfool'), local('Airfool'), url('./fonts/Airfool.woff2') format('woff2'),
    url('./fonts/Airfoolt.woff') format('woff'), url('./fonts/Airfool.ttf') format('truetype');
}

.warning {
  position: relative;
  z-index: 1000;
  display: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
  background-color: #d27c7c;
}

.warning-text {
  font: 400 30px/1.5 'Airfool', Arial, sans-serif;
  color: #fff;
  text-align: center;
}

canvas {
  padding: 0;
  margin: 0;
}
div.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  width: 98%;
  height: 100%;
  min-height: 300px;
  padding: 45px;
  border-radius: 0.25rem;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom / 100% 100%,
    linear-gradient(red 0 0) 30px 0 / 2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
}

.wrapper-2 {
  z-index: 2;
  padding: 20px 20px 20px 30px;
}

.card {
  transform: translateY(0) translate(10px, -10px) scale(1);
  transform-origin: 0 0;
  transition: transform 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8) 0.1s, background 0.4s linear;
}

.wrapper-3 {
  z-index: 1;
  padding: 10px 45px;
  gap: 0;
  transform: translateY(0) translate(20px, -20px) scale(1);
}

.card--next {
  z-index: 5;
  transform: translate(10px, -10px) scale(1);
}

.card--out {
  animation: card-out 0.6s cubic-bezier(0.8, 0.2, 0.1, 0.8);
  transform: translate(20px, -20px) scale(1);
  z-index: 1;
}

.card--current {
  cursor: auto;
  user-select: auto;
  position: relative;
  z-index: 10;
  opacity: 1;
  transform: translateX(0%) scale(1);
}

@keyframes card-out {
  0% {
    z-index: 20;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-120%) translateX(-40px);
  }
  80% {
    z-index: 1;
  }
  100% {
    transform: translate(20px, -20px) scale(1);
  }
}

.buttons {
  display: flex;
  gap: 40px;
  width: 270px;
  height: 48px;
}

.flex-buttons {
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.input {
  background-color: #6f3a6d;
  padding: 15px;
  font-family: 'Roboto Mono', monospace;
  color: #ffffff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 50px;
  padding: 10px 25px;
  transition: all 260ms ease;
  text-decoration: none;
  font-family: inherit;
  width: 130px;
  height: 40px;
  color: #05958d;
  background-color: #4efff4;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), inset -7px -7px 10px 0px rgba(0, 0, 0, 0.1),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5), -4px -4px 6px rgba(116, 125, 136, 0.2);
  outline: none;
  font: 400 21px/1.5 'Airfool', Arial, sans-serif;
}

.submit {
  width: 250px;
  color: #7d4a78;
  background-color: #d17780;
}

.yes.show {
  z-index: -1;
  opacity: 0;
  animation: run 0.5s 2.5s forwards;
}

.run {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(14%, 175%);
  opacity: 0;

  color: white;
  background-color: black;
}

.run.show {
  animation: run 0.5s 2.5s forwards;
}

@keyframes run {
  to {
    opacity: 1;
    z-index: 2;
  }
}

button.yes:hover {
  color: white;
  background: #31d67a;
  outline: none;
}

button.submit:hover {
  color: white;
  background: #4efff4;
  outline: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-gap {
  gap: 28px;
}

.header {
  font: 700 50px/1.5 'MADEGoodTimeScript', Arial, sans-serif;
  text-align: center;
}

.text {
  font: 400 30px/1.5 'MADEGoodTimeScript', Arial, sans-serif;
  text-align: center;
}

.no.hidden {
  display: none;
}

.frame {
  width: 100%;
  max-width: 600px;
  height: 350px;
  position: relative;
  background: #774358;
  border-radius: 0 0 40px 40px;
}

#button_open_envelope {
  width: 180px;
  position: absolute;
  z-index: 311;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #fff;
  transition: all 0.3s ease-in-out;
  font: 400 26px / normal 'Airfool', Arial, sans-serif;
}
#button_open_envelope:hover {
  background: #fff;
  color: #081d3d;
  cursor: pointer;
}
.message {
  position: relative;
  right: 4px;
  width: 580px;
  min-height: 300px;
  height: auto;
  background: transparent;
  margin: 0 auto;
  top: 30px;
  box-shadow: none;
  transition: 2s ease-in-out;
  transition-delay: 1.5s;
  z-index: 300;
}

.left,
.right,
.top {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  z-index: 310;
}
.left {
  border-left: 300px solid #6e1955;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
}
.right {
  border-right: 300px solid #6e1955;
  border-top: 160px solid transparent;
  border-bottom: 160px solid transparent;
  left: 300px;
}
.top {
  border-right: 300px solid transparent;
  border-top: 200px solid #8f538a;
  border-left: 300px solid transparent;
  transition: transform 1s, border 1s, ease-in-out;
  transform-origin: top;
  transform: rotateX(0deg);
  z-index: 500;
}
.bottom {
  width: 600px;
  height: 190px;
  position: absolute;
  background: #470744;
  top: 160px;
  border-radius: 0 0 30px 30px;
  z-index: 310;
}

.open {
  transform-origin: top;
  transform: rotateX(180deg);
  transition: transform 0.7s, border 0.7s, z-index 0.7s ease-in-out;
  border-top: 200px solid #632c45;
  z-index: 200;
}
.pull {
  -webkit-animation: message_animation 2s 1 ease-in-out;
  animation: message_animation 2s 1 ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0.9s;
  animation-delay: 0.45s;
  transition: 1.5s;
  transition-delay: 1s;
  z-index: 300;
}

@-webkit-keyframes message_animation {
  0% {
    transform: translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  50% {
    transform: translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  51% {
    transform: translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
  100% {
    transform: translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}
@keyframes message_animation {
  0% {
    transform: translatey(0px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  50% {
    transform: translatey(-340px);
    z-index: 300;
    transition: 1s ease-in-out;
  }
  51% {
    transform: translatey(-340px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
  100% {
    transform: translatey(0px);
    z-index: 350;
    transition: 1s ease-in-out;
  }
}

@media screen and (max-width: 767px) {
  .warning {
    display: flex;
  }
  .frame {
    display: none;
  }

  canvas {
    display: none;
  }
}